<!DOCTYPE html>
<html lang="fr">

<body>
        <header style="background-color: #8cacbb; text-align: center">
            Your Header
        </header>

        {% block body %}
                <div>Content</div>
        {% endblock %}

        <footer style="background-color: #8cacbb; text-align: center">
            Your Footer
        </footer>

</body>
    {% block script %}
    {% endblock %}
</html>
